<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: blue;">
    <center><h1 style="color: aqua;">Welcome To Project</h1>
<form action="check" >
    <h3 style="color: beige;">Sign Up</h3>
    Enter FIRST NAME : <input type="text" id="fname" name="fname" required><br/><br/>
    Enter LAST NAME :  <input type="text" id="fname" name="lname" required><br/><br/>
    Enter Email : <input type="text" id="fname" name="email" required><br/><br/>
    Enter Password :<input type="password" id="fname" name="password" required><br/><br/>
   
    <input type="submit" class="btn" >
</form>
<br>
<form action=login_page>
    <button class="insert">SIGN IN</button>
</form>
</center>
</body>
</html>